# OPENAI_API_KEY=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
# GEMINI_API_KEY=AIzaSyD0SMOZWXaMvmqWGiqR_1M8W733agT08SE
# OPENAI_LEAF_MODEL=gpt-4.1
# GEMINI_LEAF_MODEL=gemini-2.5-flash
